.comment {
  @include make-row();

  padding: 32px 0;
  border-bottom: 10px solid $grey-100;

  &:last-of-type {
    border-bottom: none;
  }

  &__user-info {
    &__name {
      @media screen and (min-width: $screen-md) {
        text-align: center;
      }
    }

    &__image {
      margin: 0 0 8px;
    }

    float: left;
    width: 100%;
    padding: 15px;

    @media screen and (min-width: $screen-md) {
      width: 120px;
    }
  }

  &__content {
    float: left;
    width: 100%;
    padding: 15px;

    @media screen and (min-width: $screen-md) {
      width: calc(100% - 120px);
    }
  }

  &__submitted {
    font-size: 12px;
    color: #222;
  }

  &__menu {
    list-style: none;
    margin: 0;

    &__links {
      padding: 0;
    }

    &__link {
      display: inline-block;
      margin: 0 10px 10px 0;
    }
  }

  mark {
    margin: 0 15px;
  }
}

.comments {
  border-top: 1px solid $grey-100;
  margin: 20px 0;
  padding: 30px 0;
}
