.user-picture {
  display: block;
  height: 55px;
  width: 55px;
  border-radius: 43px;
  overflow: hidden;
  margin: initial;
  border: 4px solid #969696;

  @media screen and (min-width: $screen-md) {
    margin: 0 auto;
    height: 85px;
    width: 85px;
  }

  a {
    display: block;
  }

  img {
    max-width: 100%;
    display: block;
  }
}
